extends layout

block content
	div.col-12
		form.form-group( @submit.prevent="submitStock") 
			div.form-group
					label Stock Ticker: 
					input.form-control(v-bind="stock", type="text", v-model="stock", placeholder="Enter Stock Ticker")
			button(type="submit", class="btn btn-primary " ) Submit Stock
	div.col-12(v-if="companyInfo")
		ul
			li Company Name: {{companyInfo.companyName}}
			li Industry: {{companyInfo.industry}}
			li Website: {{companyInfo.website}}
	div.col-12 List of Stocks Searched: 
		span(v-for="value in stocksSearched") {{value}} , 
